extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p Ami changed
  h1 私が勝つのよ！！！！！！！
  h2 いや，俺やし。
  h2 tamakiです
  p 妻が言ってた。痩せたいから運動に連れ出してくれって。
  p でも，運動に誘ったら今日はゆっくりしたいからって断られた。切ない。
  p yapaaaaa